<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel sterowania</title>
</head>
<body>
    <h1>Panel sterowania</h1>
    <ul>
        <li><a th:href="@{/relay/set}">Ustaw stan przekaźnika</a></li>
        <li><a th:href="@{/relay/state}">Pobierz stan pojedynczego przekaźnika</a></li>
        <li><a th:href="@{/relay/all}">Pobierz stany wszystkich przekaźników</a></li>
        
        <li><a th:href="@{/termometry/lista}">Termometry</a></li>
        
        <br>
        <li>Dane z API:</li>
        <li><a th:href="@{/temperatura-z-api}">Wszystkie temperatury z czujników - API</a></li>
        <li></li>
    </ul>
</body>
</html>
