<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edycja termometru</title>
</head>
<body>
<h1>Edycja termometru</h1>

<form th:action="@{/termometry/edytuj}" method="post" th:object="${thermometer}">
    <input type="hidden" th:field="*{id}" />

    <p>
        <label for="name">Nazwa:</label>
        <input type="text" id="name" th:field="*{name}" />
    </p>
    <p>
        <label for="description">Opis:</label>
        <input type="text" id="description" th:field="*{description}" />
    </p>
    <p>
        <label for="location">Lokalizacja:</label>
        <input type="text" id="location" th:field="*{location}" />
    </p>
    <p>
    <label for="offset">Offset (°C):</label>
    <input type="number" step="0.1" id="offset" th:field="*{offset}" />
</p>
    <button type="submit">Zapisz zmiany</button>
</form>

<p><a th:href="@{/termometry/lista}">Powrót do listy</a></p>
</body>
</html>
